body {
  margin: 0;
  font-family: "Arial Unicode MS", Arial, sans-serif;;
  background: #fff;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 10px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

.logo span {
  color: rgb(206, 2, 2);
}

.header img {
  width: 200px;
  margin: 1.20px;
}

.header-icons img {
  width: 50px;
  margin: 1 20px;
}

.intro {
  background: #000;
  border-bottom-left-radius: 50px;
  color: white;
  padding: 40px 50px;
  text-align: left;
}

.intro h1 {
  font-size: 50px;
  margin-bottom: -40px;
}

.intro p {
  font-size: 20px;
  color:  rgb(206, 2, 2);
  margin-bottom: 20px;
  margin-top: 50px;
}

.highlight {
  color:  rgb(206, 2, 2);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  background: #f9f9f9;
}

.service-card {
  flex: 1 1 200px;
  max-width: 270px;
  text-align: center;
  margin: 20px;
}

.service-card img {
  width: 120px;
  margin-bottom: 10px;
}

.service-card h3 {
  color: rgb(206, 2, 2);
  font-size: 26px;
  margin-bottom: -10px;
}

.service-card p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 10px;
}

.quote {
  padding: 200px 100px;
  text-align: center;
  font-size: 30px;
  color: rgb(206, 2, 2);
  background: #eee;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #444;
  color: white;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.footer-item {
  margin: 10px;
}

.footer-item strong {
  font-size: 20px;
}

.footer-item img {
  width: 35px;
  margin-top: -10px;
}
